spring:
  config:
    activate:
      on-profile: cloud

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 30000
      pool-name: HikariPool
      max-lifetime: 1800000
      connection-timeout: 30000
      schema: xplaza

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate.format_sql: true
      hibernate.jdbc.lob.non_contextual_creation: true
      hibernate.default_schema: xplaza

  flyway:
    enabled: true
    locations: classpath:db/migration
    schemas: xplaza
    baseline-on-migrate: true

server:
  port: 10001
  forward-headers-strategy: native

springdoc:
  swagger-ui:
    schemes:
      - https
  api-docs:
    path: /v3/api-docs

jwt:
  secret: ${JWT_SECRET}
  expiration: 300000  # 5 minutes in milliseconds
  refresh-expiration: 604800000  # 7 days in milliseconds